/*----FOOTER----*/
footer{
    background-color: nth($colores, 2) ;
    border: 1px solid black;
    width: 100%;
    height: 50px;
    bottom: 0;
    h2{
        text-align: center;
        padding: 5px;
    }
}